*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-style: 70px;
    background-color: #333;
    padding: 15px 30px;
    border-radius:15px ;
    font-family: monospace;
}