*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 170px;
    height: 270px;
    background-color: #fff;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
}
.card img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
} 
.card h3{
    font-size: 17px;
    white-space: nowrap;
}
.card h4{
    font-size: 12px;
    margin-top: 8px;
    color: crimson;
    margin-bottom: 8px;
}
.card p{
    font-size: 9px;
    font-weight: 540;
    margin: 2px;
    padding: 5px;
}