*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.sec{
    background-color: rgb(56, 168, 243);
    display:flex;
    justify-content: space-between;
    padding: 20px;
}