*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Helvetica neue';
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    padding: 20px;
    background-color: black;
}
.user_card{
    color: white;
    text-align: center;
    font-size:2rem;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
button{
    padding: 10px 15px;
}
.all-cards{
    display:flex
}