*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
}
.elem{
    height: 80px;
    width: 100%;
    border-bottom: 1.5px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.elem h1{
    font-size:5vw;
    position: relative;
    z-index: 7;
    mix-blend-mode: difference;
}
.elem img{
    height:80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}