@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mozilla+Headline:wght@200..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mozilla+Headline:wght@200..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width:100%;
}
h3{
    font-family: "Mozilla Headline", sans-serif;
    font-weight: 400;
    font-size: 17px;
}
#main{
    background-color:whitesmoke;
    font-size: 12px
}
.top{
    margin: 2px;
    padding: 10px;
    height: 50px;
    background-color: rgb(41, 41, 116);
    color: white;
    text-align: center;
}
.about{
    margin: 10px 70px 10px 70px;
    padding: 10px;
    height: 60px;
    background-color: rgb(250, 250, 207);
    text-align: center;
}
#abt{
    margin: 4px;
    padding: 4px;
    width: 590px;
    background-color: white;
}
.edu{
    margin: 10px 70px 10px 70px;
    padding: 10px;
    height: 70px;
    background-color: rgb(190, 229, 245);
    text-align: center;
}
.inner{
    
    margin: 4px;
    padding: 4px;
    width: 590px;
    background-color: white;
}
.skills{
    margin: 10px 70px 10px 70px;
    padding: 10px;
    height: 120px;
    background-color: rgb(243, 223, 185);
    text-align: center;
}
.ski{
    margin: 3px 10px 3px 10px;
    padding: 4px;
    width: 590px;
    background-color: white;
}
.project{
    margin: 10px 70px 10px 70px;
    padding: 10px;
    height: 95px;
    background-color: rgb(238, 211, 238);
    text-align: center;
}
.pro{
    margin: 3px 10px 3px 10px;
    padding: 4px;
    width: 590px;
    background-color: white;
}
.contact{
    margin: 10px 70px 10px 70px;
    padding: 10px;
    height: 95px;
    background-color:rgb(177, 231, 177);
    text-align: center;
}
.con{
    margin: 3px 10px 3px 10px;
    padding: 4px;
    width: 590px;
    background-color: white;
}
footer{
    background-color: rgb(35, 35, 58);
    color: white;
    text-align: center;
     font-family: "Mozilla Headline", sans-serif;
}