*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "top-left top-center top-right"
                "top-left center bottom-right"
                "bottom-left bottom-left bottom-right"  
              ;
    grid-template-columns: 1.2fr 150px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    padding: 2px;
    background-color:rgba(179, 154, 105, 0.11);
}
#top-left{
    grid-area: top-left;
    background-image: url(https://i.pinimg.com/736x/45/d6/52/45d652161607a6a6ef21fbdf1630eba7.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}
#top-center
{   
    background-image: url(https://i.pinimg.com/736x/76/90/4e/76904ef63f9633f29074af0f3f414e53.jpg);
    background-size: cover;
    background-position: center;
    grid-area: top-center;
    border-radius: 5%;
}
#top-right
{
    background-image: url(https://i.pinimg.com/1200x/2f/79/5c/2f795c8c2ae88d93a509e0a3fb4595e9.jpg);
    background-size: cover;
    background-position:center;
    grid-area: top-right;
    border-radius: 5%;
}
#center
{
    background-image: url(https://i.pinimg.com/736x/46/7d/c3/467dc3d7ca87a70263c2ceb43f802d2e.jpg);
    background-size: cover;
    background-position: center;
    grid-area: center;
    border-radius: 5%;
}
#bottom-left
{
    background-image: url(https://i.pinimg.com/736x/32/2c/ba/322cba832ebb71d4e0e678020469eb9c.jpg);
    background-size: cover;
    background-position: center;
    grid-area: bottom-left;
    border-radius: 5%;
}
#bottom-right
{
    background-image: url(https://i.pinimg.com/736x/48/0d/af/480daf67b093a6c7b57a15ddb63ce506.jpg);
    background-size: cover;
    background-position: center;
    grid-area: bottom-right;
    border-radius: 5%;
}