*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 200px;
    width: 150px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
#container i{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform  ease 0.4s;
}