*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black ;
}
h1{
    font-size:70px;
    font-weight: 600;
    position: absolute;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    text-decoration: underline;
    color: white;
    white-space: nowrap;
}
.nav{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
}