*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    background-color: black;
    align-items:center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
#box{
    height: 200px;
    width: 200px;
    background-color:cadetblue;
    border-radius: 15px;
    border: 4px solid rgb(222, 244, 245);
}
button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor:pointer;
    color: white;
}
button:active{
    scale: 0.95;
}