*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
}
#card{
    height: 230px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 900;
}
#card h5{
    font-size: 17px;
    color: red;
    margin-bottom: 20px;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    padding: 7px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 550;
    font-size: 10px;
    margin: 3px;
    cursor: pointer;
}