*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow:hidden;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 18px 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(190, 147, 147);
    position: relative;
    z-index: 7;
}
h1{
    font-size: 10px;
    white-space:nowrap;
}