:root{
    --pri:#F8F4E1;
    --sec:#381C0A;
    --tri1:#FEBA17;
    --tri2:#74512D;
    --red:red;
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight:700 ;
    src: url(./Aeonik-Bold.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 100;
    src: url(./Aeonik-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
div{
    font-family:aeonik;
    font-weight:700;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 80px;
    background-color: var(--pri);
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap:30px;
    position: absolute;
}
.elem{
    background-color: #FEBA17;
    position: relative;
    height: 300px;
    width: 230px;
    border-radius: 10px;
    overflow:hidden;
    transition: all ease 0.7s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.elem h2{
    position: absolute;
    right: 5%;
    font-weight: 500;
    bottom: 4%;
    font-size: 30px;
}
.elem:active{
    scale: 0.97;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    cursor: pointer;
    background-color: var(--red);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
}
.back:active{
    scale:0.97;
}
/* .todo-list-fullpage{
    display: block;
} */
.todo-list-fullpage h2{
    font-size: 55px;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form input#task-input{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border:none;
    outline: none;
    font-weight: 500;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 10px 20px;
    width: 100%;
    font-size: 25px;
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border:none;
    outline: none;
    margin-bottom: 20px;
}
.todo-list-fullpage .todo-container .addTask form button{
    padding: 10px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    border:none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 700;
    transition:all ease 0.3s;
}
.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.96;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow: auto;
}
.task{
    display:flex;
    /* flex-direction: column; */
    align-items:center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding:20px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.task h5{
    color:var(--sec);
    font-size: 30px;
    display: flex;

    align-items: flex-start;
    gap: 5px;
}
.task h5 span{
    background-color:var(--red);
    color: var(--pri);
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 11px;
}
.task h5 span.true{
    opacity:1;
}
.task h5 span.false{
    opacity:0;
}
.task button{
    padding: 15px 30px;
    color:var(--pri);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.task button:active{
    scale:0.96;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: var(--red); */
    padding:10px 10px;
    margin-bottom:20px ;
    width: 100%;
    gap: 30px;
}
.mark-imp input{
   scale: 1.7;
}
.mark-imp label{
    font-size: 20px;
}

.daily-planner-fullpage{
    display: block;
}
.daily-planner-fullpage h2{
    font-size:70px;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    display: flex;
    flex-wrap:wrap;
    overflow: auto;
    align-items: flex-start;
    justify-content: space-between;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}
 .day-planner .day-planner-time input{
    padding: 20px 45px;
    padding-top: 34px;
    width: 100%;
    outline: none;
    background-color: var(--sec);
    border: none;
    border-radius: 5px;
    font-size: 32px;
 }
  .day-planner .day-planner-time p{
    position: absolute;
    top:12%;
    left:2% ;
    font-size: 18px;
  }