*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #333;
    font-family: monospace;
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.big{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align:center;
}
.small{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 150px;
    text-align: center;
}
.white{
    width: 60px;
    height: 250px;
    background-color: white;
    border: 1px solid rgb(211, 210, 210);
    padding: 10px;
    padding-top: 220px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 3px 7px 0 0 rgb(211, 210, 210);
}
.black{
    position: absolute;
    width: 35px;
    height: 150px;
    font-weight: 300;
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 120px;
    border: 1px solid rgb(211, 210, 210);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 3px 5px 0 0 rgb(211, 210, 210);
}
.black:nth-of-type(1){left:43px;}
.black:nth-of-type(2){left:103px;}
.black:nth-of-type(3){left:163px;}
.black:nth-of-type(4){left:223px;}
.black:nth-of-type(5){left:343px;}