*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
body{
    background: url(https://images.pexels.com/photos/34422171/pexels-photo-34422171.jpeg);
    background-size: cover;
}
/* 
css variables/css root variables/css custom properties
linearGradient
radialGradient  
*/
/* .box{
    height: 400px;
    width: 400px;
    border: 1px solid white;
    background: radial-gradient(200px at 100px 100px,red,blue);
} */
 :root{
    /* var declaration in css:--varName; */
    /* --red:rgb(150, 31, 31); */
    --x:100px;
    --y:100px;
 }
.box{
    height: 100%;
    width: 100%;
    /* background-color:var(--red); */
    background: radial-gradient(150px at var(--x) var(--y) ,rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.834)80%);
}